body {
  font-family: 'Noto Sans KR', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 18px;
  color: var(--font-default-color);
}

h1,
h2,
h3,
h4 {
  font-family: 'Jua', serif;
  font-weight: 400;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

header {
  padding-top: var(--page-padding);
  width: var(--header-width);
  background-image: var(--side-bg-image);

  flex-shrink: 0;
}

h1.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.logo span.text {
  padding: 16px;
  font-size: 1.8rem;
  color: var(--font-header-color);
}

main {
  padding: var(--page-padding);
}

h2.title {
  font-size: 2.4rem;
  margin-bottom: 24px;
}

h3.subtitle {
  font-size: 1.6rem;
  margin: var(--page-subtitle-margin-y) 0;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: var(--page-subtitle-margin-y);
}

section > p,
article > p {
  line-height: 24px;
}

section,
article {
  display: flex;
  flex-flow: column;
}

div.thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: var(--page-paragraph-margin-y);
}

.gallery {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.gallery > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.favorite-work-container {
  display: flex;
  justify-content: center;
}

.favorite-work > img {
  width: 300px;
  height: 100%;
  object-fit: cover;
}

.favorite-work-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;

  line-height: 150%;
  letter-spacing: 0.5px;
}

section::after {
  content: '';
  display: block;
  margin: var(--page-subtitle-margin-y) 0;
  border-bottom: 1px solid var(--divider-color);
}

hr {
  border: 1px solid var(--divider-color);
}

aside {
  padding-top: var(--page-padding-top);
  width: var(--aside-width);
  background-image: var(--side-bg-image);

  flex-shrink: 0;

  color: var(--font-header-color);
}

aside h2 {
  font-size: 1.7rem;
}

.profile-image img {
  width: var(--aside-width);
  height: auto;
  object-fit: cover;
}

aside.right-sidebar nav {
  padding: var(--right-sidebar-padding);
}

legend {
  margin: var(--page-subtitle-margin-y) 0;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea:focus {
  outline: none;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus::-ms-input-placeholder {
  color: transparent;
}

ol.contents {
  list-style-type: decimal;
  padding: 24px;

  font-family: 'Jua', serif;
}

ol.contents li:not(:last-child) {
  margin-bottom: 16px;
}

ol.contents li a {
  text-decoration: none;
  color: var(--font-header-color);
}

#comment-form {
  display: flex;
  flex-direction: column;
}

#comment-button {
  width: 80px;
  height: 30px;

  align-self: self-end;

  background-color: #706795;
  border: none;
  border-radius: 4px;

  color: #f6f6f6;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}

#comment-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.comment-list {
  display: flex;
  flex-direction: column;

  line-height: 150%;
  letter-spacing: 0.5px;
}

.comment-list > li:not(:last-child)::after {
  content: '';
  display: block;
  margin: var(--page-comment-margin-y) 0;
  border-bottom: 1px solid var(--divider-color);
}

.comment-author {
  display: flex;
  align-items: center;

  gap: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-top: var(--page-padding-top);
  align-items: center;
  margin: 24px;
}

footer p {
  margin-top: 8px;
}

:root {
  --page-padding: 48px;
  --page-subtitle-margin-y: 32px;
  --page-paragraph-margin-y: 16px;
  --page-comment-margin-y: 16px;
  --right-sidebar-padding: 32px;

  --header-width: 235px;
  --header-bg-color: #f6f6f6;

  --aside-width: 350px;
  --aside-bg-color: #f6f6f6;

  --divider-color: #efefef;
  --font-default-color: #333;
  --font-header-color: #f6f6f6;

  --side-bg-image: linear-gradient(
    to top,
    #0a0202 5%,
    #160f12 10%,
    #1d181d 18%,
    #222129 30%,
    #263940 60%,
    #2b3d4b 70%,
    #2d4656 80%,
    #374f67 85%,
    #455878 90%,
    #596088 93%,
    #646690 96%,
    #706795 100%
  );
}
